@media screen
{
  body
  {
    background-color: rgba(55, 55, 55, 1);
    text-align: center;
  }

  .textBox
  {
    color: black;
    background-color: lightgrey;
    height: 18px;
  }

  .fas
  {
    padding: 5px;
    background-color: lightgrey;
    border-radius: 5px;
    width: 20px;
    height: 18px;
  }

  .mainPanel
  {
    display: inline-block;
    width: 30%;
    padding: 10px;
    background-color: grey;
    border-radius: 5px;
  }

  .tabsPanel
  {
    display: table-cell;
    width: 5%;
    padding: 10px;
    background-color: grey;
    border-radius: 5px;
  }

  .submitButton
  {
    margin: 30px 0px 0px 0px;
    background-color: lightgrey;
  }

  .error
  {
    color: firebrick;
  }

  .checkbox
  {
    color: black;
    background-color: lightgrey;
    height: 18px;
    width: 18px;
    float: left;
    margin-left: 25px;
  }

  .tabSpace
  {
    margin-left: 30px;
  }

  .ipRow
  {
    margin: 5px;
  }

  .UserTxT
  {
    color: teal;
  }

  .IPTxT
  {
    color: orange;
  }

  .DataTxT
  {
    color: purple;
  }

  #ipLogDiv
  {
    overflow-y: auto;
    height: 300px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border: black solid 3px;
    background-color: #555555;
    text-align: left;
  }

  #turtle
  {
    width: 80px;
    height: 80px;
  }

  #attackCount
  {
    color: firebrick;
  }

  #errorHeader
  {
    font-family: 'Permanent Marker', cursive;
    color: firebrick;
  }

  #mainHeader
  {
    margin-top: 0px;
    font-family: 'Permanent Marker', cursive;
    color: white;
  }

  #alignContent
  {
    display: inline-block;
  }

  #isAdmin
  {
    float: left;
  }

  #submitAttack
  {
    margin: 0px;
    background-color: lightgrey;
    padding: 15px;
  }
}

@media print
{
  html
  {
    display: none;
  }
}
